%ul
  %li= link_to "Home", "#home", class: 'scroll'
  %li= link_to "Development", "#development", class: 'scroll', title: "home"
  %li= link_to "Marketing", "#marketing", class: 'scroll'
  %li= link_to "Consulting", "#consulting", class: 'scroll'
  %li= link_to "Portfolio", "#portfolio", class: 'scroll'
  %li= link_to "Contact Us", "#contact", class: 'scroll'