%ul
  %li= link_to "Home", "#home"
  %li= link_to "Development", "#development"
  %li= link_to "Marketing", "#marketing"
  %li= link_to "Consulting", "#consulting"
  %li= link_to "Portfolio", "#portfolio"
  %li= link_to "Contact Us", "#contact"