.span4.site
  = link_to image_tag('zipaclip_logo.png'), portfolio_zipaclip_path
.span4.site
  = link_to image_tag('screampark_logo.png'), portfolio_azscreampark_path
.span4.site
  = link_to image_tag('psd_logo.png'), portfolio_philsmithdesign_path
.span4.site
  = link_to image_tag('xsp_logo.png'), portfolio_xsp_path
.span4.site
  = link_to image_tag('homewell_scottsdale_logo.png'), portfolio_homewellscottsdale_path
.span4.site
  = link_to image_tag('jenco_logo.png'), portfolio_jenco_path
