#home
  .container
    .edgy
      = image_tag('b.png')
      .text 
        .web web development
        .mobile mobile app development
        .consulting consulting
#development
  .container
    %h1.title Web & Mobile App Development
    .title-line-separator 
    .row
      .span6
        %p
          With clean brand messaging across all your devices including: computers, smartphones, and tablets.  Engaging customers more often and with greater sales qualifications for your products, services, and ideas through revenue producing websites, mobile applications for iOS and Android, social media networks, software, e-mails, and more.
        %ul
          %li 
            Web Development
            %ul
              %li Ruby on Rails
              %li Wordpress
              %li Joomla
          %li 
            Mobile App Development
            %ul
              %li IOS
              %li Android
      .span6
        .pull-right
          = image_tag('apps.png')
#marketing
  .container
    %h1.title Marketing
    .title-line-separator 
    .row
      .span6
        = image_tag('marketing.png')
      .span5
        %p
          We use online advertising to promote products, services, and ideas on the internet.
        %p
          With brand and identity congruent across all online destinations, one of your greatest assets (brand) drives more business.  Increase shareholder value, profits, and reduce overhead by cleaning up your brand.  Increase customer trust and sales velocity.  Designs, logos, aesthetics, naming, terms, or anything that differentiates your product, services or idea from its competition.  Invention of new ideas to incorporate your brand, and management of existing ones.

#consulting
  .container
    %h1.title Consulting
    .title-line-separator 
    .row
      %h2 Troy Anderson
      %p
        With 20 years of background in both software and real estate development and management, I have a rich set of experiences that provides me with a unique perspective to businesses looking to further their strategic objectives using technology.
      %p
        When helping businesses with their technology needs, my approach is to work with them to learn the business case and strategy, and then cooperatively design a technology solution that lowers costs or increases revenues, for the purpose of creating greater enterprise value. While I have a formal education in computer engineering, my business knowledge has been gained through experience.
      %p
        During the past two years, I have been studying the philosophies, strategies, and practices of the Aji Network to gain more fundamental knowledge of business. Specialties:Software Development, iOS Development, including iPhone and iPad, Ruby on Rails, PHP/mySQL, Master Planned Real Estate Development and Management
    .row
      %h2 Charlie Jackson
      %p
        From the beginning, I have had a passion for information and technology. I have always noticed opportunities to use technology to help people in ways that they overlooked. In 2011, I founded Atherpath to build micro niche websites to drive online traffic to specific products and services. 
      %p
        We built over 200 websites and helped 6 companies realize increased profitability leveraging my talents. When I met Troy Anderson, he and Sean Hoy were building a unique studio environment to help people with their digital strategy and we immediately saw how our interests, experience and talents all complimented each other, so we founded Elbow Room Studios.
      %p
        We develop digital strategies by leveraging our experiences and expertise in business, marketing, branding, web and mobile development and ability to get companies noticed in the digital space. We work with our clients to understand their needs and craft a digital strategy that supports their mission.

#portfolio
  .container
    %h1.title Portfolio
    .title-line-separator 
    .row
      = render "home/portfolio"


#contact
  .container
    %h1.title Contact Us
    .title-line-separator 
    .row
      .span6
        = render 'messages/form'
      .span6
        .row
          .span3.offset3
            %p.address
              7469 E Monte Christo
              %br
              Scottsdale, AZ 85260
            %p.phone
              602-882-5955
        .row
          .span5.offset1
            = image_tag('edgy-mirror.png')



        